* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  }

.container {
    width: 100%;
    background-color: black;
}

.p{
    color: white;
}