* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  }
a {
text-decoration: none;
}
.clear {
    clear: left;
}
.container {
    width: 100%;
}

.token-wrapper {
    padding: 5%;
    background-color: #f7f7f7;
    text-align: center;
}
.heading {
    padding-top: 55px;
    padding-bottom: 50px;
    color: rgb(26,33,57);
}
.parents{
    display: inline-block;
    width: 33%;
}
.parents img {
    margin: 5%;
}
.test-wrapper {
    padding: 10% 20%;
    color: white;
}

.modal-content {
    width: 700px;
    padding: 5%;
}