.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*ヘッダー*/
.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  /*スクロールした際にCreateボタンが上に来ちゃうから仕方なく書いたz-indexくん*/
  z-index: 100;
}

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.header-wrapper p {
  font-family: 'Caveat', cursive;
  /*font-family: 'Sacramento', cursive; */
  font-size: 200%;
  margin-left: 3%;
}

.twitter-auth {
  margin-left: 60%;
  margin-top: -5%;
}

.header-right {
  margin-top: -5%;
  margin-right: 2%;
}

.header-right img {
  border-radius: 50%; 
  width: 3%;
  height: 3%;
}

.header-modal-inner {
  position: absolute;
  top: 120%;
  right: -1300px;
  left: 0;
  width: 150px;
  height: 100px;
  padding: 20px;
  margin: auto;
  background-color: rgb(255,255,255);
  border-radius: 8px;
}


/*トップ*/
.top-wrapper {
  width: 100%;
}

.top-container {
  background-image: url("./img/dippyaman-nath-WTjoXtFZ2fw-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 650px;
}

.top-container h1 {
  position: absolute;
  color: white;
  font-size: 100px;
  top: 20%;
  left: 45%;
}

.top-container p {
  position: absolute;
  color: white;
  top: 45%;
  left: 47%;
}

.NFTs-container {
  height: 500px;
  text-align: center;
  font-size: 40px;
}

.service-container {
  height: 500px;
  text-align: center;
  font-size: 50px;
}

.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 0.5rem;
}

.btn-c {
  font-size: 1.8rem;

  border: none;

  position: relative;
  top: 65%;
  left: 45%;

  padding: 2rem 5rem 2rem 3rem;

  color: #fff;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(
    335deg,
    #231557 0%,
    #44107a 25%,
    #ff1361 90%,
    #fff800 100%
  );
  background-image: linear-gradient(
    115deg,
    #231557 0%,
    #44107a 25%,
    #ff1361 90%,
    #fff800 100%
  );
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn-c span {
  position: relative;
}

.btn-c:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  background-image: -webkit-linear-gradient(
    335deg,
    #231557 0%,
    #44107a 15%,
    #ff1361 70%,
    #fff800 100%
  );

  background-image: linear-gradient(
    115deg,
    #231557 0%,
    #44107a 15%,
    #ff1361 70%,
    #fff800 100%
  );
}

.btn-c:after {
  font-family: "Font Awesome 5 Free";
  font-size: 1.6rem;
  line-height: 1;

  position: absolute;
  top: calc(50% - 0.8rem);
  right: 1rem;

  margin: 0;
  padding: 0;

  content: "\f30b";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-c:hover {
  color: #fff;
}

.btn-c:hover:before {
  opacity: 0;
}

.btn-c:hover:after {
  right: 0.5rem;
}

/*モーダル*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}

.modal-inner {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 850px;
  height: 400px;
  padding: 20px;
  margin: auto;
  background-color: rgb(255,255,255);
  border-radius: 8px;
}

.modal-explanation {
  display: inline-block;
  padding: 5%;
}


.modal-img {
  display: inline-block;
}

.explanation {
  position: absolute;
  top: 8%;
  font-size: 20px;
}


/*モーダルのボタン*/
.modal-close-btn {
  margin: 5px;
  width: 100px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
  
}

.modal-close-btn::after {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.modal-close-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}


.modal-transfer-btn {
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  width: 100px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
  
}

.modal-transfer-btn::after {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.modal-transfer-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}


.modal-burn-btn {
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  width: 100px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
}

.modal-burn-btn::after {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.modal-burn-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

.twitter-auth {
  margin-left: 60%;
}
.header-right {
  text-align: right;
}

/*Main*/
.parents {
  display: inline-block;
  margin: 5%;
}

.copy-container {
  text-align: center;
}

.main-wrapper {
  background-color: #f4fafa;
}

.main {
  margin: 0 auto;
  padding: 5%;
}

/*トークン*/

.token-card {
  padding: 5%;
}

.token-item p {
  text-align: center;
}


/*フッター*/
.footer-wrapper {
  background-color: #f3f3f3;
  padding: 3% 10%;
}

.Tap {
  display: inline-block;
  font-size: 20px;
  margin: 1%;
}

.Privacy-Policy {
  display: inline-block;
  margin: 2%;
}

.Terms-of-Service {
  display: inline-block;
  margin: 2%;
}

.Terms {
  display: inline-block;
  margin: 2%;
}

.copy {
  color: #9ea1a3;
}

/*Issue*/

.issue-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}

.upload-modal-inner {
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
  width: 850px;
  height: 500px;
  padding: 20px;
  margin: auto;
  background-color: rgb(255,255,255);
  border-radius: 8px;
}
.upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.upload-container {
  height: 500px;
  padding: 5%;
}

.input-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-area {
  top: 10%;
  left: 0;
  margin: auto;
  width: 50%;
  height: 400px;
  position: relative;
  border: 2px dotted rgba(0, 0, 0, 0.4);
}

.upload-area i {
  position: absolute;
  font-size: 120px;
  opacity: 0.1;
  width: 100%;
  left: 42%;
  top: 80px;
}

.upload-area p {
  width: 100%;
  position: absolute;
  top: 200px;
  opacity: 0.8;
  font-family: 'Comic Sans MS';
  text-align: center;
}

#input-files {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.issue-btn {
  position:absolute;
  top: 90%;
  left: 49%;
}

.outer {
  position: relative;
  margin: auto;
  width: 35px;
  cursor: pointer;
  top: -400px;
  left: 380px;
}

.inner {
  width: inherit;
  text-align: center;
}

label { 
  font-size: .8em; 
  line-height: 4em;
  text-transform: uppercase;
  color: #000b00;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #000b00;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}