.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*ヘッダー*/
.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  /*スクロールした際にCreateボタンが上に来ちゃうから仕方なく書いたz-indexくん*/
  z-index: 100;
}

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.header-wrapper p {
  font-family: 'Caveat', cursive;
  /*font-family: 'Sacramento', cursive; */
  font-size: 200%;
  margin-left: 3%;
}

.twitter-auth {
  margin-left: 60%;
  margin-top: -5%;
}

.header-right {
  margin-top: -5%;
  margin-right: 2%;
}

.header-right img {
  border-radius: 50%; 
  width: 3%;
  height: 3%;
}

.header-modal-inner {
  position: absolute;
  top: 120%;
  right: -1300px;
  left: 0;
  width: 150px;
  height: 100px;
  padding: 20px;
  margin: auto;
  background-color: rgb(255,255,255);
  border-radius: 8px;
}


/*トップ*/
.top-wrapper {
  width: 100%;
  height: 4700px;
}

.top-container {
  background-image: url("./img/dippyaman-nath-WTjoXtFZ2fw-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 650px;
  background-position: center top;
  background-attachment: fixed;
}

.top-container h1 {
  position: absolute;
  color: white;
  font-size: 7rem;
  top: 15%;
  left: 42%;
  text-align: center;
}

.top-container p {
  position: absolute;
  color: white;
  top: 45%;
  left: 45%;
  text-align: center;
}


.create-btn {
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  top: 70%;
  left: 45%;
  display: inline-block;
  padding-left: 20px;
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  cursor: pointer;
}

.create-bnt a {
  color: inherit;
}

.create-btn a::before {
  content: '';
  width: 2rem;
  height: 2rem;
  border-top: solid 2px rgba(255,255,255,0.9);
  border-right: solid 2px rgba(255,255,255,0.9);
  border-left: solid 2px rgba(255,255,255,0.9);
  border-bottom: solid 2px rgba(255,255,255,0.9);
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: -25px;
  margin-top: -9px;
}
.create-btn a::after {
  content: '';
  width: 1rem;
  height: 1rem;
  border-top: solid 0.1rem rgba(255,255,255,0.9);;
  border-right: solid 0.1rem rgba(255,255,255,0.9);;
  position: absolute;
  left: -15%;
  top: 39%;
  transform: rotate(45deg);
}

.create-btn a:hover {
  color: rgba(255,255,255,0.6);
}

.create-btn a:hover::before{
  border-top: solid 2px rgba(255,255,255,0.6);
  border-right: solid 2px rgba(255,255,255,0.6);
  border-left: solid 2px rgba(255,255,255,0.6);
  border-bottom: solid 2px rgba(255,255,255,0.6);
}

.create-btn a:hover::after{
  border-top: solid 0.1rem rgba(255,255,255,0.6);;
  border-right: solid 0.1rem rgba(255,255,255,0.6);;
}




.NFTs-container {
  height: 500px;
  text-align: center;
  font-size: 40px;
}

.service-container {
  height: 1500px;
  text-align: center;
  font-size: 50px;
}

.service-card1 {
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 15%;
}

.service-card2 {
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 5%;
}

.service-card3 {
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 5%;
}

.service-card4 {
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 5%;
}

.service-card5 {
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 5%;
}
.service-img1 {
  width: 38%;
  height: auto;
  position: relative;
  top: -75%;
  left: 18%;
  z-index: -1;
}

.service-img2 {
  width: 38%;
  height: auto;
  position: relative;
  top: -75%;
  left: -20%;
  z-index: -1;
}

.service-explain1 {
  width: 30%;
  height: 300px;
  position: relative;
  left: 10%;
  top: -110%;
  padding: 1%;
  font-size: 15px;
  text-align: center;
  background-color: white;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.service-explain2 {
  width: 30%;
  height: 300px;
  position: relative;
  left: 55%;
  top: -110%;
  padding: 1%;
  font-size: 15px;
  text-align: center;
  background-color: white;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.service-explain h1{
  color: #404142
}

.service-explain p {
  color: #636466
}

.gray-box {
  width: 50%;
  position: relative;
  left: 25%;
  height: 50%;
  background-color: #F0F0F0;
  z-index: -2;
}



/*モーダル*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}

.modal-inner {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 850px;
  height: 400px;
  padding: 20px;
  margin: auto;
  background-color: rgb(255,255,255);
  border-radius: 8px;
}

.modal-explanation {
  display: inline-block;
  padding: 5%;
}


.modal-img {
  display: inline-block;
}

.explanation {
  position: absolute;
  top: 8%;
  font-size: 20px;
}


/*モーダルのボタン*/
.modal-close-btn {
  margin: 5px;
  width: 100px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
  
}

.modal-close-btn::after {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.modal-close-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}


.modal-transfer-btn {
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  width: 100px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
  
}

.modal-transfer-btn::after {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.modal-transfer-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}


.modal-burn-btn {
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  width: 100px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  box-shadow: 0 5px 0 #aaaaaa;
  transition: 0.3s;
}

.modal-burn-btn::after {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.modal-burn-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

.twitter-auth {
  margin-left: 60%;
}
.header-right {
  text-align: right;
}

/*Main*/
.parents {
  display: inline-block;
  margin: 5%;
}

.copy-container {
  text-align: center;
}

.main-wrapper {
  background-color: #f4fafa;
}

.main {
  margin: 0 auto;
  padding: 5%;
}

/*トークン*/

.token-card {
  padding: 5%;
}

.token-item p {
  text-align: center;
}


/*フッター*/
.footer-wrapper {
  background-color: #f3f3f3;
  padding: 3% 10%;
}

.Tap {
  display: inline-block;
  font-size: 20px;
  margin: 1%;
}

.Privacy-Policy {
  display: inline-block;
  margin: 2%;
}

.Terms-of-Service {
  display: inline-block;
  margin: 2%;
}

.Terms {
  display: inline-block;
  margin: 2%;
}

.copy {
  color: #9ea1a3;
}

/*Issue*/

.issue-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}

.upload-modal-inner {
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
  width: 850px;
  height: 500px;
  padding: 20px;
  margin: auto;
  background-color: rgb(255,255,255);
  border-radius: 8px;
}
.upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.upload-container {
  height: 500px;
  padding: 5%;
}

.input-btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-area {
  top: 10%;
  left: 0;
  margin: auto;
  width: 50%;
  height: 400px;
  position: relative;
  border: 2px dotted rgba(0, 0, 0, 0.4);
}

.upload-area i {
  position: absolute;
  font-size: 120px;
  opacity: 0.1;
  width: 100%;
  left: 42%;
  top: 80px;
}

.upload-area p {
  width: 100%;
  position: absolute;
  top: 200px;
  opacity: 0.8;
  font-family: 'Comic Sans MS';
  text-align: center;
}

#input-files {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.issue-btn {
  position:absolute;
  top: 90%;
  left: 49%;
}

.outer {
  position: relative;
  margin: auto;
  width: 35px;
  cursor: pointer;
  top: -400px;
  left: 380px;
}

.inner {
  width: inherit;
  text-align: center;
}

label { 
  font-size: 15px; 
  line-height: 4em;
  text-transform: uppercase;
  color: #000b00;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #000b00;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

.imageid {
  width: 100%;
  height: 100%;
}