.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*ヘッダー*/
.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  /*スクロールした際にCreateボタンが上に来ちゃうから仕方なく書いたz-indexくん*/
  z-index: 100;
}

.Tap {
  font-size: 2rem;
  margin: 0px;
  position: relative;
  left: 20px;
  display: block;
  padding: 10px;
  color: #000b00;
  font-family: fantasy;
}

.signin-header{
  position: relative;
  top: 0px;
  right: 15px;
}

.twitter-auth {
  position: relative;
  top: -30px;
  right: -10px;
}

.header-right img {
  border-radius: 50%; 
  width: 30px;
  height: 30px;
  position: relative;
  top: -40px;
  right: 10px;

}

.header-modal-inner {
  position: absolute;
  top: 5%;
  right: -90%;
  left: 0;
  width: 160px;
  margin: auto;
  background-color: rgb(255,255,255);
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 8px gray;
}


.header-modal:before{
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: white transparent;
  border-width: 0 10px 10px 10px;
  top: -5px;
  left: 98.5%;
  margin-left: -10px;
  /* box-shadow: 0 0 8px gray; */
}

.logout {
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  top:25%;
  display: inline-block;
  color: rgba(43,43,43,0.9);
  text-decoration: none;
  cursor: pointer;
}

.logout-area {
  height: 45px;
}

.logout-area:hover {
  background-color:rgba(0, 0, 0, 0.05);
}

.wallet-link {
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  top: 35%;
  display: block;
  color: rgba(43,43,43,0.9);
  text-decoration: none;
  cursor: pointer;
}

.wallet-area {
  height: 45px;
}

.wallet-area:hover {
  background-color:rgba(0, 0, 0, 0.05);
}

.header-modal-close-btn {
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  top: 25%;
  display: inline-block;
  color: rgba(43,43,43,0.9);
  cursor: pointer;
}

.header-modal-close-btn-area {
  height: 45px;
}

.header-modal-close-btn-area:hover {
  background-color:rgba(0, 0, 0, 0.05);
}

/*トップ*/
.top-wrapper {
  width: 100%;
  height: 600px;
}

.top-container {
  background-image: url("./img/dippyaman-nath-WTjoXtFZ2fw-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 650px;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
}

.top-explain {
  position: relative;
  top: 35%;
  margin: 3%;
}

.top-container h1 {
  color: white;
  font-size: 4rem;
  position: relative;
  width: 100%;
  cursor: default;
}

.top-p1 {
  position: relative;
  color: white;
  top: -30px;
  cursor: default;
}

.top-p2 {
  position: relative;
  color: white;
  top: -30px;
  cursor: default;
}

.create-link {
  color: white;
}

.create-link a:hover {
  color: rgba(255,255,255,0.6);
}

.create-link a:visited{
  color: white;
}


.create-btn {
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: -20px;
  display: inline-block;
  padding-left: 20px;
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  cursor: pointer;
}

.create-bnt a {
  color: inherit;
}


.create-btn a::before {
  content: '';
  width: 7rem;
  height: 2.3rem;
  border-bottom: solid 3px rgba(255,255,255);;
  position: absolute;
  left: 0%;
}

.create-btn a::after {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border-top: solid 0.1rem rgba(255,255,255);;
  border-right: solid 0.1rem rgba(255,255,255);;
  position: absolute;
  left: -3%;
  top: 35%;
  transform: rotate(45deg);
  
}

.create-btn a:hover {
  color: rgba(255,255,255,0.6);
}

.create-btn a:hover::before{
  border-bottom: solid 2px rgba(255,255,255,0.6);
}

.create-btn a:hover::after{
  border-top: solid 0.1rem rgba(255,255,255,0.6);;
  border-right: solid 0.1rem rgba(255,255,255,0.6);;
}




.NFTs-container {
  height: 500px;
  text-align: center;
  font-size: 40px;
  width: 98%;
}

.NFTs-container h2{
  margin-bottom: 5%;
  cursor: default;
}

.NFTs-container img {
  width: 95%;
  position: relative;
  z-index: -9;
}

.Slider {
  width: 50%;
}

.service-container {
  height: 3500px;
  text-align: center;
  font-size: 50px;
}

.service-container h2 {
  cursor: default;
  font-size: 5rem;
}

.service-card1 {
  width: 100%;
  height: 600px;
  margin-top: 15%;
}

.service-card2 {
  width: 100%;
  height: 600px;
  margin-top: 5%;
}

.service-card3 {
  width: 100%;
  height: 600px;
  margin-top: 5%;
}

.service-card4 {
  width: 100%;
  height: 600px;
  margin-top: 5%;
}

.service-card5 {
  width: 100%;
  height: 600px;
  margin-top: 5%;
}
.service-img1 {
  width: 38%;
  height: auto;
  position: relative;
  top: -75%;
  left: 18%;
  z-index: -1;
}

.service-img2 {
  width: 38%;
  height: auto;
  position: relative;
  top: -75%;
  left: -20%;
  z-index: -1;
}

.service-explain1 {
  width: 30%;
  height: 300px;
  position: relative;
  left: 10%;
  top: -110%;
  padding: 1%;
  font-size: 15px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.service-explain2 {
  width: 30%;
  height: 300px;
  position: relative;
  left: 55%;
  top: -110%;
  padding: 1%;
  font-size: 15px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.explanation-inner-title{
  color: #404142
}

.explanation-inner-sentence{
  color: #636466
}

.gray-box {
  width: 50%;
  position: relative;
  left: 25%;
  height: 50%;
  background-color: #F0F0F0;
  z-index: -2;
}

.explanation-inner{
  padding: 5%;
}

.explanation-inner-title{
  font-size: 0.5rem;
}

.explanation-inner-sentence {
  text-align: left;
  padding: 5% 0;
}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
}

.modal-inner {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 850px;
  height: 400px;
  padding: 20px;
  margin: auto;
  background-color: rgb(255,255,255);
  border-radius: 8px;
}

.modal-img {
  position: absolute;
  margin: 3%;
}

.modal-explanation {
  position: absolute;
  left: 50%;
  top: 25%;
}

.explanation {
  position: absolute;
  font-size: 20px;
  line-height: 0.5em;
  width: 100%;
}

.alert {
  position: absolute;
  font-size: 20px;
  line-height: 0.5em;
  width: 100%;
}

.alert p {
  padding: 5%;
  font-size: 1rem;
}

.btn {
  position: relative;
  top: 320px;
  width: 400px;

}


/*モーダルのボタン*/
.modal-close-btn {
  margin: 5px;
  width: 100px;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: black;
  border-radius: 100vh;
  transition: 0.3s;
  
}

.modal-close-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}


.modal-transfer-btn {
  margin: 5px;
  width: 100px;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: black;
  border-radius: 100vh;
  transition: 0.3s;
}

/* .modal-transfer-btn::after {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
} */

.modal-transfer-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}


.modal-burn-btn {
  margin: 5px;
  width: 100px;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: black;
  border-radius: 100vh;
  transition: 0.3s;
}

.modal-burn-btn::after {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.modal-burn-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

.twitter-auth {
  margin-left: 60%;
}
.header-right {
  text-align: right;
}


/*Main*/
.parents {
  display: inline-block;
  margin: 1%;
  width: 23%;
}

.copy-container {
  text-align: center;
}

.main-wrapper {
  background-color: white;
}

.main {
  margin: 0 auto;
  padding: 5%;
}

/*トークン*/

.token-card {
  padding: 5%;
}

.token-item p {
  text-align: center;
}


/*フッター*/
.footer-wrapper {
  background-color: #f3f3f3;
  padding: 3% 10%;
}

.Privacy-Policy {
  display: inline-block;
  margin: 2%;
}

.Terms-of-Service {
  display: inline-block;
  margin: 2%;
}

.Terms {
  display: inline-block;
  margin: 2%;
}

.upload {
  padding: 5% 30%;
  height: auto;
}

.CreateNewNFT{
  font-size: 3rem;
  position: relative;
  margin: 0 0;
  font-family: fantasy;
}

.drop{
  font-size: 1rem;
  position:relative;
  top: -25px;
  margin: -0.5%;
  line-height: 0.5em
}


.upload-area {
  position: relative;
  border: 2px dotted rgba(0, 0, 0, 0.4);
  border-radius: 5%;
}

.upload-area:hover{
  position: relative;
  border: 2px dotted rgba(0, 0, 0, 0.4);
  border-radius: 5%;
  background-color: rgba(150,150,150,0.2);
}

.imageid {
  position: relative;
  text-align: center;
}

.imageidParent{
  position: relative;
  text-align: center;
  width: 450px;
  height: 350px;
}

.imageidParent img{
  width: auto;
  height: 350px;
}

.file-area {
  border: none;
  outline: none;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}


.issue-btn {
  width: 100px;
  margin: 5% 0;
  position: relative;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: black;
  border-radius: 100vh;
  transition: 0.3s;
  cursor: pointer;
}

.issue-btn::after {
  content: '';
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.issue-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

label { 
  font-size: 15px; 
  line-height: 4em;
  text-transform: uppercase;
  color: #000b00;
  transition: all .3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.inner:before, .inner:after {
  position: absolute;
  content: '';
  height: 1px;
  width: inherit;
  background: #000b00;
  left: 0;
  transition: all .3s ease-in;
}

.inner:before {
  top: 50%; 
  transform: rotate(45deg);  
}

.inner:after {  
  bottom: 50%;
  transform: rotate(-45deg);  
}

.outer:hover label {
  opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}

.outer:hover .inner:before {
  top: 0;
}

.outer:hover .inner:after {
  bottom: 0;
}

.privacy-modal{
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 850px;
  height: 400px;
  padding: 30px;
  margin: auto;
  background-color: rgb(255,255,255);
  border-radius: 8px;
}

.privacy-modal h1{
  font-size: 2.5rem;
  margin: 2rem;
}

.privacy-modal p{
  font-size: 1rem;
  margin: 2rem;
}

.tos-modal {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 850px;
  height: 400px;
  padding: 30px;
  margin: auto;
  background-color: rgb(255,255,255);
  border-radius: 8px;
}

.tos-modal h1{
  font-size: 2.5rem;
  margin: 2rem;
}

.tos-modal p{
  font-size: 1rem;
  margin: 2rem;
}

.link-black {
  display: block;
  text-decoration: none;
  color: black;
}

.link-white {
  display: block;
  text-decoration: none;
  color: white;
}

.modal-switch-btn {
  margin: 5px;
  width: 200px;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: black;
  border-radius: 100vh;
  transition: 0.3s;
  
}

.modal-switch-btn:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}

.tosPrivacy-btn{
  position: relative;
  left: 25px;
}